
body{
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  color: #303030;
}
.NTFinderContainer{
  display: flex;
  flex-flow: row;
}
.NTFinderDivider{
  flex-basis: 6px;
  background: #606060;
}
.NTTreeView{
  flex-basis: 200px;
  overflow-x: hidden;
  background-color: #e0e0e0;
}
.NTListView{
  flex: 1;
}
.NTListViewItem{
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: solid #909090 1px;
}

.NTTreeViewNode{
  user-select: none;
  white-space: nowrap;
}
.NTTreeViewNodeCollapsedBox{
  display: inline-block;
  width: 20px;
  height: 20px;
}
.iconBox{
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.iconFolder{
  view-box: 0 0 80 80;
  width: 24px;
  height: 24px;
  fill: #606060;
  stroke: 1px;
}
.iconFolder path{
  d: path("M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z");
}
.NTTreeViewNodeItem{
  display: flex;
  align-items: center;
}
