body {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  color: #303030;
  padding: 0;
  margin: 0;
  background-color: #0000b0;
}
.fi-container {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  background-color: #00b000;
  height: 100vh;
}
.fi-header {
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  background-color: #606060;
}
.fi-container-sub {
  flex: 1;
  display: flex;
  flex-flow: row;
}
.fi-treeview {
  display: flex;
  flex-basis: 200px;
  align-self: flex-start;
  flex-flow: column;
  overflow-x: hidden;
  align-self: stretch;
  min-width: 150px;
  max-width: 400px;
  background-color: #a0a0a0;
}
.fi-buttonbox {
  height: 30px;
  background-color: #303030;
}
.fi-divider {
  flex-basis: 6px;
  background: #606060;
  overflow-x: hidden;
  cursor: col-resize;
}
.fi-listview {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

.icon-folder{
  view-box: 0 0 80 80;
  width: 20px;
  height: 20px;
  fill: #606060;
  stroke: 1px;
}
.icon-thing{
  view-box: 0 0 80 80;
  width: 20px;
  height: 20px;
  fill: #606060;
  stroke: 1px;
}
.icon-brain {
  view-box: 0 0 80 80;
  width: 40px;
  height: 40px;
  fill: #606060;
  stroke: 4px;
  margin-left: 5px;
  margin-top: 5px;
}
