
body{
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  color: #303030;
}
.NTFinderContainer{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.NTFinderDivider{
  flex-basis: 6px;
  background: #606060;
}

.NTListView{
  flex: 1;
}

.icon-folder{
  view-box: 0 0 80 80;
  width: 20px;
  height: 20px;
  fill: #606060;
  stroke: 1px;
}
.icon-thing{
  view-box: 0 0 80 80;
  width: 20px;
  height: 20px;
  fill: #606060;
  stroke: 1px;
}
