
body{
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  color: #303030;
}
.NTFinderContainer{
  display: flex;
  flex-flow: row;
}
.NTFinderDivider{
  flex-basis: 6px;
  background: #606060;
}

.NTListView{
  flex: 1;
}
