.pv-container{
  display: flex;
  flex-basis: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 10px;
  align-items: center;
  user-select: none;
  background-color: #303030;
  color: #999;
}
.pv-item {
  font-size: 80%;
  cursor: pointer;
}
.pv-item-divider {
  margin: 0 10px 0 10px;
}
